/* CSS Document */
.sidebar-nav .well{
    background-color: #fbfbfb;
    background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
    background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: linear-gradient(top, #ffffff, #f5f5f5);
    background-repeat: repeat-x;
    border: 1px solid #ddd;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
}

/* Other */
.action-btn {
    text-align:center;
    background-color: #fbfbfb;
    background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
    background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: linear-gradient(top, #ffffff, #f5f5f5);
    background-repeat: repeat-x;
    border: 1px solid #ddd;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
    margin-top:0px;
    margin-bottom:20px;
    padding:10px;
}

/* Comment Table */
.member-avatar img {
    border: 1px solid #DDDDDD;}

.comment-info {
    color:#666;
}

/* Portlets */
.box h4.box-header {
    background-color: #fbfbfb;
    background-image: -moz-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -ms-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#f5f5f5));
    background-image: -webkit-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: -o-linear-gradient(top, #ffffff, #f5f5f5);
    background-image: linear-gradient(top, #ffffff, #f5f5f5);
    background-repeat: repeat-x;
    border: 1px solid #ddd;
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;
}

.box .box-container-toggle {
    border-left:1px solid #DDD;
    border-right:1px solid #DDD;
    border-bottom:1px solid #DDD;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-border-top-left-radius: 0px;
    -webkit-border-top-right-radius: 0px;
    -moz-border-top-left-radius: 0px;
    -moz-border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px
}

.box-btn {
    border:1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    -moz-box-shadow: 0px 1px 0px rgba(255,255,255,0.3);
    -webkit-box-shadow: 0px 1px 0px rgba(255,255,255,0.3);
    box-shadow: 0px 1px 0px rgba(255,255,255,0.3);
}

/* Round Corners and text effects
----------------------------------------------------------------------------------------------------*/

.round-all {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.round-top {
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-radius: 3px 3px 0 0;
}
.round-bottom {
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-bottomright: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-radius: 0 0 3px 3px;
}
.round-left {
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-radius: 3px 0 0 3px;
}
.round-right {
    -webkit-border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    -moz-border-radius-bottomright: 3px;
    border-radius:0 3px 3px 0;
}

/* Dashboard  */
.box ul.dashboard-statistics li, ul.dashboard-member-activity li {
    border-bottom: 1px solid #ebebeb;
    border-top: 1px solid #fff;
}

.red {
    color:#B94A48;
}
.green {
    color:#468847
}
.yellow {
    color:#F89406
}
.blue {
    color:#3A87AD;
}

img.dashboard-member-activity-avatar {
    border:1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.nav {
  margin-left: 0;
  list-style: none;
}

.nav > li > a {
  display: block;
}

.nav > li > a:hover {
  text-decoration: none;
  background-color: #eeeeee;
}

.nav > li > a > img {
  max-width: none;
}

.nav > .pull-right {
  float: right;
}

.nav-header {
  display: block;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: #999999;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}

.nav li + .nav-header {
  margin-top: 9px;
}

.nav-list {
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 0;
}

.nav-list > li > a,
.nav-list .nav-header {
  margin-right: -15px;
  margin-left: -15px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.nav-list > li > a {
  padding: 3px 15px;
}

.nav-list > .active > a,
.nav-list > .active > a:hover {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
  background-color: #0088cc;
}

.nav-list [class^="icon-"],
.nav-list [class*=" icon-"] {
  margin-right: 2px;
}

.nav-list .divider {
  *width: 100%;
  height: 1px;
  margin: 9px 1px;
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

.nav-tabs,
.nav-pills {
  *zoom: 1;
}

.nav-tabs:before,
.nav-pills:before,
.nav-tabs:after,
.nav-pills:after {
  display: table;
  line-height: 0;
  content: "";
}

.nav-tabs:after,
.nav-pills:after {
  clear: both;
}

.nav-tabs > li,
.nav-pills > li {
  float: left;
}

.nav-tabs > li > a,
.nav-pills > li > a {
  padding-right: 12px;
  padding-left: 12px;
  margin-right: 2px;
  line-height: 14px;
}

.nav-tabs {
  border-bottom: 1px solid #ddd;
}

.nav-tabs > li {
  margin-bottom: -1px;
}

.nav-tabs > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 20px;
  border: 1px solid transparent;
  -webkit-border-radius: 4px 4px 0 0;
     -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
}

.nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #dddddd;
}

.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: #555555;
  cursor: default;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}

.nav-pills > li > a {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-top: 2px;
  margin-bottom: 2px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

.nav-pills > .active > a,
.nav-pills > .active > a:hover {
  color: #ffffff;
  background-color: #0088cc;
}

.nav-stacked > li {
  float: none;
}

.nav-stacked > li > a {
  margin-right: 0;
}

.nav-tabs.nav-stacked {
  border-bottom: 0;
}

.nav-tabs.nav-stacked > li > a {
  border: 1px solid #ddd;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.nav-tabs.nav-stacked > li:first-child > a {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-topleft: 4px;
}

.nav-tabs.nav-stacked > li:last-child > a {
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -moz-border-radius-bottomleft: 4px;
}

.nav-tabs.nav-stacked > li > a:hover {
  z-index: 2;
  border-color: #ddd;
}

.nav-pills.nav-stacked > li > a {
  margin-bottom: 3px;
}

.nav-pills.nav-stacked > li:last-child > a {
  margin-bottom: 1px;
}

.nav-tabs .dropdown-menu {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}

.nav-pills .dropdown-menu {
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
}

.nav .dropdown-toggle .caret {
  margin-top: 6px;
  border-top-color: #0088cc;
  border-bottom-color: #0088cc;
}

.nav .dropdown-toggle:hover .caret {
  border-top-color: #005580;
  border-bottom-color: #005580;
}

/* move down carets for tabs */

.nav-tabs .dropdown-toggle .caret {
  margin-top: 8px;
}

.nav .active .dropdown-toggle .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

.nav-tabs .active .dropdown-toggle .caret {
  border-top-color: #555555;
  border-bottom-color: #555555;
}

.nav > .dropdown.active > a:hover {
  cursor: pointer;
}

.nav-tabs .open .dropdown-toggle,
.nav-pills .open .dropdown-toggle,
.nav > li.dropdown.open.active > a:hover {
  color: #ffffff;
  background-color: #999999;
  border-color: #999999;
}

.nav li.dropdown.open .caret,
.nav li.dropdown.open.active .caret,
.nav li.dropdown.open a:hover .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
  opacity: 1;
  filter: alpha(opacity=100);
}

/* Side Nav */
.sidebar-nav {
    padding: 0px 0;
}

/* Footer */
.footer {
  background-color: #f5f5f5;
  width: 100%;
  margin-top: 15px;
}

.container .text-muted {
  margin: 20px 0;
}

/* Comment Table */
.comment-table tbody tr td {
    vertical-align:top;
}
.member-avatar img {
    border: 1px solid #DDDDDD;
    padding: 1px;
    text-align: center;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    float: left;
}
table.member-info {
    margin-top: 5px;
    line-height:10px;
    clear: none;
}
table.member-info tbody tr td {
    line-height:15px;
}
.comment-info {
    margin-bottom:2px;
}
.post-toolbar {
    cursor:pointer;
}
tr .post-toolbar {
    visibility:hidden;
}

tr:hover .post-toolbar {
    visibility: visible;
}

/* Portlets */
.box {
    margin-bottom:10px;
}
.box h4.box-header {
    size:10px;
    padding: 7px 7px;
    margin: 0;
    list-style: none;
}


.box-content {
    padding:10px;
}

.box-btn {
    float:right;
    margin-left:2px;
    margin-right:2px;
    height: 14px;
    width: 14px;
    text-decoration:none;
    display: block;
    float: right;
    overflow: hidden;
    background-position:center;
    cursor:pointer;
}

.box-btn [class^="fa fa-"], .box-btn [class*=" fa fa-"] {
    vertical-align:top;
    margin-top:0px;
}

.box-container-closed {
    display:none;
}

/* Portlets */
.box-placeholder {
    background-color: #f5f5f5;
    border: 1px dashed #DDDDDD;
    display: block;
    /* float: left;*/
    margin-bottom: 13px !important;
    margin-left: 1%;
    margin-right: 0.6%;
}
.box-placeholder * {
    visibility:hidden;
}
.column {
    min-height:20px;
}

/* Dashboard  */
ul.dashboard-statistics, ul.dashboard-member-activity {
    margin: 10px 0;
}
.box ul.dashboard-statistics li, ul.dashboard-member-activity li {
    list-style: none;
    padding-bottom:10px;
    padding-top:10px;
}
ul.dashboard-statistics li:first-child, ul.dashboard-member-activity li:first-child {
    border-top: none;
    padding-top:0;
}
ul.dashboard-statistics li:last-child, ul.dashboard-member-activity li:last-child {
    border-bottom: none;
    padding-bottom:0;
}
ul.dashboard-statistics li a {

    display: block;
    line-height: 10px;
    text-decoration: none;
}
ul.dashboard-member-activity li a {

    display: inline;
    text-decoration: none;
}
ul.dashboard-statistics li a:hover, ul.dashboard-member-activity li a:hover {

}
ul.dashboard-statistics li a span {
    display: inline-block;
    *display: inline;
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
    text-align: right;
    width: 70px;
    zoom: 1;
}
ul.dashboard-statistics i[class*=icon] {
    margin-left: 15px;
}


img.dashboard-member-activity-avatar {
    height:50px;
    width:50px;
    padding:1px;
    float:left;
    margin-left:15px;
    margin-right:15px;
}

/* Forms */
.box form {
    margin:0;
}

.box .form-actions {
    margin-bottom:0px;
}

/* Header changes */
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
    font-weight: normal;
    color: #999999;
}

h1 {
    font-size: 30px;
    line-height: 36px;
}

h1 small {
    font-size: 18px;
}

h2 {
    font-size: 24px;
    line-height: 36px;
}

h2 small {
    font-size: 18px;
}

h3 {
    font-size: 18px;
    line-height: 27px;
}

h3 small {
    font-size: 14px;
}

h4,
h5,
h6 {
    line-height: 18px;
}

h4 {
    font-size: 14px;
}

h4 small {
    font-size: 12px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 11px;
    color: #999999;
    text-transform: uppercase;
}

ul.shortcut-list {
	list-style: none;
	list-style-image: none;
	padding: 0;
	margin: 0;
	display: block;
	overflow: hidden;
	color: #5E5E5E;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
}

ul.shortcut-list li {
	background: rgb(224,243,250); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwZjNmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2Q4ZjBmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2I4ZTJmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiNmRmZmQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(224,243,250,1) 0%, rgba(216,240,252,1) 50%, rgba(184,226,246,1) 51%, rgba(182,223,253,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,243,250,1)), color-stop(50%,rgba(216,240,252,1)), color-stop(51%,rgba(184,226,246,1)), color-stop(100%,rgba(182,223,253,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(224,243,250,1) 0%,rgba(216,240,252,1) 50%,rgba(184,226,246,1) 51%,rgba(182,223,253,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(224,243,250,1) 0%,rgba(216,240,252,1) 50%,rgba(184,226,246,1) 51%,rgba(182,223,253,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(224,243,250,1) 0%,rgba(216,240,252,1) 50%,rgba(184,226,246,1) 51%,rgba(182,223,253,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(224,243,250,1) 0%,rgba(216,240,252,1) 50%,rgba(184,226,246,1) 51%,rgba(182,223,253,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0f3fa', endColorstr='#b6dffd',GradientType=0 ); /* IE6-8 */
	border: 1px solid #bcbcbc;
	float: left;
	overflow: hidden;
	margin: 10px 5px;
	cursor: pointer;
	border-radius: 5px 5px 5px 5px;
	color: #5E5E5E;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
}

ul.shortcut-list li:hover {
	background: none repeat scroll top left #e7e7e7;
	border-color: #a3a3a3;
	color: #5E5E5E;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
}

ul.shortcut-list li a {
	display: inline-block;
	position: relative;
	text-align: center;
	width: 90px;
	height: 85px;
	padding: 10px 5px;
	overflow: hidden;
	color: #5E5E5E;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
}

ul.shortcut-list li img {
	display: block;
	margin: 0 auto;
	padding-bottom: 10px;
	overflow: hidden;
}

ul.shortcut-list li:hover a {
	text-decoration: none;
	padding-top: 11px;
	margin-bottom: -1px;
	color: #5E5E5E;
	text-shadow: 1px 1px 0px rgba(255, 255, 255, 1);
}